<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<form action="#" th:action="@{/signup}" th:object="${signUpForm}" method="post">
    <div>
        <label for="username">ID</label>
        <input th:errorclass="field-error" id="username" type="text" th:field="*{username}">
        <small class="field-error" th:errors="*{username}">username Error</small>
    </div>
    <div>
        <label for="email">Email</label>
        <input th:errorclass="field-error" id="email" type="email" th:field="*{email}">
        <small class="field-error" th:errors="*{email}">Email Error</small>
    </div>
    <div>
        <label for="password">Password</label>
        <input th:errorclass="field-error" id="password" type="password" th:field="*{password}">
        <small class="field-error" th:errors="*{password}">Password Error</small>
    </div>
    <div>
        <button type="submit">Sign up</button>
    </div>
</form>
</body>
</html>